html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-menu {
  background: rgba(23, 128, 240) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(28, 121, 223) !important;
}

.ant-menu-item a:hover {
  color: #fff !important;
}

.ant-menu-inline .ant-menu-submenu-title {
  width: calc(100%);
}
